In [35]:
import sqlite3

#define a connection and a curser
connection = sqlite3.connect('CaloriesDB')
cursor= connection.cursor()

#Create the calroies table
table_create= """CREATE TABLE IF NOT EXISTS CaloriesDB(Food VARCHAR(25),Calories INT,Carbohydrates DOUBLE)"""
cursor.execute(table_create)

# Add entries to the Calories Database
cursor.execute("INSERT INTO CaloriesDB values('apple', 95, 27)") #apple
cursor.execute("INSERT INTO CaloriesDB values('pineapple', 500, 119)") #pineapple
cursor.execute("INSERT INTO CaloriesDB values('banana', 100, 28)") #banana
cursor.execute("INSERT INTO CaloriesDB values('carrot', 30, 7)") #carrot
cursor.execute("INSERT INTO CaloriesDB values('orange', 60, 15)") #orange
cursor.execute("INSERT INTO CaloriesDB values('strawberry', 6, 2)") #strawberry
cursor.execute("INSERT INTO CaloriesDB values('tomato', 22, 5)") #tomato
cursor.execute("INSERT INTO CaloriesDB values('lemon', 17, 6)") #lemon
cursor.execute("INSERT INTO CaloriesDB values('grape', 3, 1)") #grape
cursor.execute("INSERT INTO CaloriesDB values('cherry', 4, 1)") #cherry
cursor.execute("INSERT INTO CaloriesDB values('mango', 140, 35)") #mango
cursor.execute("INSERT INTO CaloriesDB values('coconut', 1400, 61)") #coconut
cursor.execute("INSERT INTO CaloriesDB values('watermelon', 1355, 341)") #watermelon
cursor.execute("INSERT INTO CaloriesDB values('pomegranate', 212, 53)") #pomegranate
# Get search results 

cursor.execute("SELECT * from CaloriesDB")
results = cursor.fetchall()
print(results)

#To commit changes on the DatabaseTh
connection.commit()

[('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0), ('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0), ('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0), ('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0)]

In [7]:
# this code is only for testing if the DB was saved
import sqlite3
#define a connection and a curser
connection = sqlite3.connect('CaloriesDB')
cursor= connection.cursor()
# Get search results 
cursor.execute("SELECT * from CaloriesDB")
results = cursor.fetchall()
print(results)

[('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0), ('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0), ('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0), ('apple', 95, 27.0), ('pineapple', 500, 119.0), ('banana', 100, 28.0), ('carrot', 30, 7.0), ('orange', 60, 15.0), ('strawberry', 6, 2.0), ('tomato', 22, 5.0), ('lemon', 17, 6.0), ('grape', 3, 1.0), ('cherry', 4, 1.0), ('mango', 140, 35.0), ('coconut', 1400, 61.0), ('watermelon', 1355, 341.0), ('pomegranate', 212, 53.0)]

In [8]:
def create_connection(CaloriesDB):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(CaloriesDB)
    except Error as e:
        print(e)

    return conn

In [11]:
select_all_foods(create_connection("CaloriesDB"), 
        slot_name= "Food",
        slot_value="carrot")

One carrot contain 30 Calories and 7.0 grams of Carbohydrates
One carrot contain 30 Calories and 7.0 grams of Carbohydrates
One carrot contain 30 Calories and 7.0 grams of Carbohydrates
One carrot contain 30 Calories and 7.0 grams of Carbohydrates

In [12]:
def select_all_foods(conn, slot_name, slot_value):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute(f"""SELECT * FROM CaloriesDB
                WHERE {slot_name} = '{slot_value}'""")

    rows = cur.fetchall()

    for row in rows:
        print(f"One {row[0]} contain {row[1]} Calories and {row[2]} grams of Carbohydrates")